@model IEnumerable<Opdracht_Webshop.Models.Shoppingitem>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Name)
            </th>
            <th> @Html.DisplayNameFor(model => model.ShoppingbagID)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>@Html.DisplayFor(modelItem => item.ShoppingbagID)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ShoppingitemID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ShoppingitemID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ShoppingitemID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
